<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cvpicker?autoReconnect=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.default_schema">cvpicker</property>
    <property name="testConnectionOnCheckin">false</property>
    <property name="testConnectionOnCheckout">true</property>
    <property name="hibernate.archive.autodetection">class, hbm</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="cvpicker.hibernate.User"/>
    <mapping class="cvpicker.hibernate.Message"/>
    <mapping class="cvpicker.hibernate.Friend"/>
    <mapping class="cvpicker.hibernate.Cv"/>
    <mapping class="cvpicker.hibernate.Skill"/>
    <mapping class="cvpicker.hibernate.UserSkill"/>
    <mapping class="cvpicker.hibernate.UserSkillPK"/>
  </session-factory>
</hibernate-configuration>
